# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.tlog
*.log
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.suo

Client/Bin/*
!Client/Bin/Debug/assimp-vc140-mtd.dll
!Client/Bin/Release/assimp-vc140-mt.dll
!Client/Bin/Shader
!Client/Bin/Resource
!Client/Bin/Save Data
Client/Bin/Resource/Game
Engine/Default/Debug
Engine/Default/Debug
MyD3D.VC.db
.vs/MyD3D/v14/.suo
Client/Default/imgui.ini
Engine/Bin/Engine.ilk
Engine/Bin/Engine.pdb
Engine/Bin/vc140.idb
Engine/Bin/vc140.pdb